<%- include('template/head.ejs') %>

    <%- include('template/navbar.ejs') %>

        <%- include('template/sidebar.ejs') %>
            <!-- Main Content -->
            <main class="col px-md-4 main">
                <div><b>Cars > <a href="/" class="nav-link d-inline">List Car</a> > </b>Add New Car</div>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                    <h3>Add New Car</h3>
                </div>
                <form action="/car" enctype="multipart/form-data" method="post" style="background: #ffffff"
                    class="p-4 mb-5">
                    <div class="mb-3 row">
                        <label for="nama" class="col-sm-2 col-form-label">Nama <span
                                class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="nama" id="nama" placeholder="Buggati">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="sewa" class="col-sm-2 col-form-label">Sewa Per Hari <span
                                class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="sewa" id="sewa" placeholder="Rp 0,-">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="ukuran" class="col-sm-2 col-form-label">Ukuran <span
                                class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <select name="ukuran" class="form-select" id="ukuran">
                                <option value="small">Small</option>
                                <option value="medium">Medium</option>
                                <option value="large">Large</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="gambar" class="col-sm-2 col-form-label">Foto <span
                                class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" name="gambar" id="gambar">
                        </div>
                    </div>
                    <button class="btn btn-outline-primary d-inline" type="reset"
                        style="margin-top: 10rem;">Cancel</button>
                    <button class="btn btn-primary d-inline" style="margin-top: 10rem;">Save</button>
                </form>
            </main>
            </div>
            </div>

            <!-- SWEET ALERT -->
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                let urlParams = new URLSearchParams(window.location.search)
                if (urlParams.has('success') && urlParams.get('success')) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Data Berhasil Ditambahkan',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        window.location.replace(window.location.origin + '/')
                    })
                }
            </script>
            <%- include('template/footer.ejs') %>