<!-- SIDEBAR -->
<nav id="sidebarMenu" class="col-md-3 d-md-block bg-body-light sidebar collapse position-fixed">
    <div class="row">
        <div class="col-md-3">
            <div id="sidebar">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <div class="navbar-brand-sidebar ms-3 mt-1"></div>
                        </li>
                        <li class="nav-item mt-4">
                            <a class="nav-link text-light" href="#"><i class="bi bi-house-door"></i>
                                <p class="dashboard">Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item mt-4 cars">
                            <a class="nav-link text-light fw-bold" href="#"><i class="bi bi-car-front text-light"></i>
                                <p class="cars">Cars</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <span class="ms-3 text-secondary">CARS</span>
                    </li>
                    <li class="nav-item mt-4 list-car" style="background: #CFD4ED">
                        <a class="nav-link text-dark fw-bold" href="#">List Car</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>